{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!--=====================Block for title of the page=====================-->
{% block title %}
Sign Up
{% endblock title %}

<!--=====================Block for navbar-content=====================-->
{% block navbar-content %}
<a class="navbar-brand flex-grow-1" style="text-align: center; color: #fff; margin-left: 25px;">
    Signup Page
</a> 
{% endblock navbar-content %}

<!--=====================Block for navbar-button login=====================-->
{% block navbar-button %}
<a href="{% url 'accounts:login' %}" class="btn btn-outline-light border-light btn-sm" id="btn-nav">Login</a>
{% endblock navbar-button %}





<!--=====================Block for content of this page=====================-->
{% block container %}
<div class="container mt-5">
    <div class="card p-3 border-dark">
        <form method="post" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mt-2">
                <div class="col-12">
                    {{ form|crispy }}
                </div>
            </div>
            <input class="btn btn-outline-dark mt-2 mb-1" type="submit" value="Sign Up" style="width: 100%;">
        </form>
    </div>
</div>
{% endblock container %}