{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!--=====================Block for title of the page=====================-->
{% block title %}
Todo list
{% endblock title %}

<!--=====================Block for navbar-content=====================-->
{% block navbar-content %}
<a class="navbar-brand flex-grow-1" style="text-align: center; color: #fff; margin-left: 25px;">
    Todo-app
</a> 
{% endblock navbar-content %}

<!--=====================Block for navbar-button login or logout=====================-->
{% block navbar-button %}
<a href="{% url 'accounts:logout' %}" class="btn btn-outline-light border-light btn-sm" id="btn-nav">Logout</a>
{% endblock navbar-button %}



<!--=====================Block for content of this page=====================-->
{% block container %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
    <form method="post" action="{% url 'todo-create' %}" autocomplete="off" novalidate>
        {% csrf_token %}
        <div class="col-6">
            {{ form.title|as_crispy_field }}
        </div>
        <button class="btn btn-outline-light border-light btn-sm" style="width: 50%;">Add Task</button>
    </form>
</div>
<br/>
{% for i in todos %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="btn btn-outline-light border-light btn-sm mt-2">
                <span>{{i}}</span>
            </div>
            <a href="{% url 'todo-edit' pk=i.id %}" class="btn btn-outline-light border-light btn-sm mt-2" id="btn-nav">
                Edit
            </a>
            <a href="{% url 'todo-delete' pk=i.id %}" class="btn btn-outline-light border-light btn-sm mt-2" id="btn-nav">
                Done
            </a>
        </div>
    </div>
</div>





{% endfor %}
{% endblock container %}